h1{
	font-size:18px;
	text-align: center;
}

ul{
	list-style-type:none;
}
body{
		display: flex;

	  max-width: 100%;
}
label.error {
		float: right;
    background: red;
		color: white;
		font-size: 14px;
		margin: 0;
}

#checkboxes{
	margin: 0;
	float: left;
}

.checkbox{
		background-color: #ff8080;
}


#principal{
	min-width:  70%;
	margin: 30px auto 0 auto;
}
#nuevo-libro, #consultar-datos, #disponibles, #prestamos{
	max-width: 50%;
	min-width: 45%;
	min-height: 360px;
	max-height: 50%;
	background-color:#80ffff;
	text-align: left;
	border: 2px solid;
	border-color: #1ab2ff;
 	margin-bottom: 10px;
	margin-left: 10px;
	float: left;
	padding: 1%;
}
@media only screen and (max-width: 890px) {
  #nuevo-libro, #consultar-datos, #disponibles, #prestamos {
		min-width: 95%;
  }
}
#nuevo-libro label{
	margin: 0;

}

#nuevo-libro #autor, #titulo, #isbn{
	width: 80%;
}


#aNL{
	float: right;
	margin: 90px 0 0 0;
}


#consultar-datos label{
	margin-left: 2%;

}
#consultar-datos #titulo{
	max-width: 80%;
}

#consultar-datos #autor{
	max-width: 35%;
}
#consultar-datos #isbn{
	max-width: 35%;
}
#generos-consulta{
	background-color: white;
	margin-left: 4%;
	width: 90%;
	height: 40px;

}
#consultar-datos #mail{
	width: 80%;
	margin-left: 2%;

}

#btnDevolver{
	float: right;
	margin-right: 2%;

}

#btnPrestar{
	float: right;
	margin-right: 2%;
}

#libros-disponibles{
	background-color: white;
	width: 90%;
	height: 300px;
	text-align: left;
	margin:auto;
}

#libros-disponibles li {
	width: 110%;
	border-style:outset;


}
#libros-disponibles ul {
	width: 90%;
	margin-left: -40px;

}

.creado{
	background-color: green;
}
.devuelto{
	background-color: #ff99cc;
}
.seleccionado{
	background-color: #6699ff;
}
.prestados{
	background-color: red;
}

#libros:hover{
	background-color: grey !important;
	font-weight: bold;
	color: white;
}


#libros-prestados{
	background-color: white;
	width: 90%;
	height: 300px;
	text-align: left;
	margin:auto;

}
#libros-prestados li {
	width: 110%;
	border-style:outset;


}
#libros-prestados ul {
	width: 90%;
	margin-left: -40px;

}
.icons{
    background: url("../images/iconos.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;

    }

#consulta-icon{
    background-position: -435px -290px;
}
#libro-icon{
	background-position: -40px -398px;
}
#disponible-icon{
	background-position:-326px -38px;
}

#prestamo-icon{
	background-position:-470px -257px;
}
